@font-face {
    font-family: 'Roboto-Black';
    src: url("/static/fonts/roboto/Roboto-Black.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/roboto/Roboto-Black.ttf")  format('truetype'), /* Safari, Android, iOS */
  }
@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url("/static/fonts/roboto/Roboto-BlackItalic.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/roboto/Roboto-BlackItalic.ttf")  format('truetype'), /* Safari, Android, iOS */
  }
@font-face {
    font-family: 'Roboto-Bold';
    src: url("/static/fonts/roboto/Roboto-Bold.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/roboto/Roboto-Bold.ttf")  format('truetype'), /* Safari, Android, iOS */
  }
@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url("/static/fonts/roboto/Roboto-BoldItalic.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/roboto/Roboto-BoldItalic.ttf")  format('truetype'), /* Safari, Android, iOS */
  }
@font-face {
    font-family: 'Roboto-Light';
    src: url("/static/fonts/roboto/Roboto-Light.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/roboto/Roboto-Light.ttf")  format('truetype'), /* Safari, Android, iOS */
  }
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url("/static/fonts/roboto/Roboto-LightItalic.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/roboto/Roboto-LightItalic.ttf")  format('truetype'), /* Safari, Android, iOS */
  }
@font-face {
    font-family: 'Roboto-Medium';
    src: url("/static/fonts/roboto/Roboto-Medium.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/roboto/Roboto-Medium.ttf")  format('truetype'), /* Safari, Android, iOS */
  }
@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url("/static/fonts/roboto/Roboto-MediumItalic.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/roboto/Roboto-MediumItalic.ttf")  format('truetype'), /* Safari, Android, iOS */
  }
@font-face {
    font-family: 'Roboto-Regular';
    src: url("/static/fonts/roboto/Roboto-Regular.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/roboto/Roboto-Regular.ttf")  format('truetype'), /* Safari, Android, iOS */
  }
@font-face {
    font-family: 'Roboto-Thin';
    src: url("/static/fonts/roboto/Roboto-Thin.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/roboto/Roboto-Thin.ttf")  format('truetype'), /* Safari, Android, iOS */
  }
@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url("/static/fonts/roboto/Roboto-ThinItalic.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/roboto/Roboto-ThinItalic.ttf")  format('truetype'), /* Safari, Android, iOS */
  }


  @mixin font-black() {
    font-family: 'Roboto-Black', Arial, sans-serif;
  }
  @mixin font-black-italic() {
    font-family: 'Roboto-BlackItalic', Arial, sans-serif;
  }
  @mixin font-bold() {
    font-family: 'Roboto-Bold', Arial, sans-serif;
  }
  @mixin font-bold-italic() {
    font-family: 'Roboto-BoldItalic', Arial, sans-serif;
  }
  @mixin font-light() {
    font-family: 'Roboto-Light', Arial, sans-serif;
  }
  @mixin font-light-italic() {
    font-family: 'Roboto-LightItalic', Arial, sans-serif;
  }
  @mixin font-medium() {
    font-family: 'Roboto-Medium', Arial, sans-serif;
  }
  @mixin font-medium-italic() {
    font-family: 'Roboto-MediumItalic', Arial, sans-serif;
  }
  @mixin font-regular() {
    font-family: 'Roboto-Regular', Arial, sans-serif;
  }
  @mixin font-thin() {
    font-family: 'Roboto-Thin', Arial, sans-serif;
  }
  @mixin font-thin-italic() {
    font-family: 'Roboto-ThinItalic', Arial, sans-serif;
  }
